
#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:5%;
    background-color: rgba(255, 255, 255, 0.138);
    padding: 2em;
    border-radius: 10px;
    font-size: 1em;
}

.input-box {
    padding: 0.5em;
    margin: 1em 0em 2em 0em;
    border-radius: 5px;
    border: 0px;
    font-size: 1em;
}

#x-dimension-input-box,
#y-dimension-input-box {
    margin-left: 0.5em;
    margin-right: 1em;
    margin-top: 1em;
    width: 10vw;
}

#y-dimension-input {
    margin-left: 0.5em;
}

#scanning-options {
    height: 2em;
}

#submit-form-button {
    padding: 1em;
    border-radius: 10px;
    border-width: 0px;
    color: white;
    background-color: rgb(17, 132, 40);
    font-weight: bold;
    cursor: pointer;
}

#submit-form-button:hover {
    background-color: rgb(72, 145, 72);
}