html {
    background: linear-gradient(70deg, rgb(27, 27, 112),rgb(32, 29, 29));
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}