#photo-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#img {
    margin-bottom: 2em;
    width: 50vw;
    height: 50vh;
}